//SETTING
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
  display: block;
  cursor: pointer;
}
ul {
  list-style: none;
}
html {
  direction: rtl;
  font-size: 16px;
  font-family: VazirMedium;
}

//FUNCTION

@mixin shadowBox($lenghtA, $lenghtB, $lenghtC, $lenghtD) {
  box-shadow: $lenghtA $lenghtB $lenghtC $lenghtD
    rgba($color: #000000, $alpha: 0.1);
}
@mixin dropDownStyle {
  position: absolute;
  background: white;
  width: max-content;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  padding: 10px 0;
  border-bottom: 2.5px solid #096bfd;
  border-top: 5px solid #fd0909;
}

//STYLE

.container {
  // width: 1400px;
  margin: 30px auto;
  margin-bottom: 0;
}

header {
  nav {
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    .menu {
      display: flex;
      align-items: center;
      a:hover {
        opacity: 0.5;
        color: blueviolet;
      }
      li {
        padding: 5px 10px;
      }
      .menu-item {
        position: relative;
        z-index: 10000 !important;
      }
      .drop-down-menu {
        margin: 30px 0;
        @include dropDownStyle();
        @include shadowBox(0, 0, 10px, 0);
        li {
          margin: 5px 0;
        }
      }
      .drop-down-menu-of-menu {
        margin: 0 115px 0 0;
        @include dropDownStyle();
        @include shadowBox(0, 0, 10px, 0);
      }
    }
  }
  .hamburger-menu {
    padding: 25px;
    width: 100%;
    background: white;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 100;
    transform: translateY(-100%);
  }
  .cross-icon {
    width: 100%;
    text-align: left;
    padding: 20px 0;
  }
}

.show-hamburger-menu {
  animation: fadeInDown 0.25s forwards;
}

.hide-hamburger-menu {
  animation: fadeOut 0.25s forwards;
}
.product-menu,
.product-menu-of-menu,
.sepahan-plus-magazine-menu,
.about-us-menu,
.contact-us-menu,
.technology-menu,
.hamburger-icon {
  display: none;
}

//MAIN STYLE
main {
}
.orbitalPlus-arrow-down{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 300px;


  h2{
    margin: 30px 0;
  }
  p{
    text-align: justify;
  }
}
.orbitalPlus {
  width: 100%;
  margin: 10px 0 30px 0;
  display: flex;
  justify-content: space-between;
  img{
    margin: -210px 0
  }
  
  
  .orbitalPlus-description {
    margin: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
  }
  .orbitalPlus-image-one {

  }
  .background-image{
    height: 800px;
    border-top: 300px rgb(249, 53, 53) solid;
    border-bottom: 300px rgb(130, 129, 129) solid;
    box-shadow:  0 0 10px 10px rgba($color: #ff3a3a, $alpha: 0.5)
  }
  .background-image-orbital-start-stop{
    border-top: 300px rgb(173, 255, 58) solid !important;
    border-bottom: 300px rgb(0, 0, 0) solid !important;
    box-shadow:  0 0 10px 10px rgba($color: #8c0505, $alpha: 0.5) !important;
  }
  .vl-orbitalplus {
    border-bottom: 5px black solid;
    width: 300px;
    height: 30px;
    margin: 10px 0;
  }
}


//END MAIN STYLE
.about-sepahan-battery {
  text-align: center;
  margin: 100px auto;

  h2 {
    margin: 0 0 20px 0;
  }
  img {
    margin: 0 0 20px 0;
  }
  p {
    text-align: justify;
    padding: 0 300px;
  }
}
.chart-image {
  text-align: center;
  margin: 100px auto;

  // .image{
  //   height: max-content;
  //   width: 100%;
  //   background-image: url(../img/TeamImage_Horizontal.jpg);
  // }
  .img_vertical {
    display: none;
  }
}

.sepahan-battery-brands {
  text-align: center;
  margin: 100px auto;
  .brands {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      padding: 0 20px;
    }
  }
  .vl {
    border-left: 1px solid black;
    height: 250px;
    margin: 0 100px;
  }
  img {
    width: 130px;
    padding: 10px;
    cursor: pointer;
  }
  img:hover {
    opacity: 0.5;
  }
  // .right-brands,
  // .left-brands {
  //   display: flex;
  //   width: 100%;

  //   div {
  //     margin: 0 10px;
  //     padding: 20px;
  //     border: 1px #000;
  //   }

  //   img:hover {
  //     opacity: 0.5;
  //   }
  // }
  // .right-brands {
  //   justify-content: left;
  // }
}

footer {
  display: flex;
  justify-content: space-between;
  background: rgb(170, 170, 170);
  padding: 50px 0;
  box-shadow: 0 0 14px 0px inset rgba($color: #000000, $alpha: 0.2);

  i {
    font-size: 35px;
  }
  .about-us-bottom {
    display: flex;
    justify-content: center;
    padding: 20px;
    i {
      color: #d1575f;
    }
    :hover {
      opacity: 0.5;
    }
    div {
      margin: 0 2px;
    }
  }
  .about-us-top {
    text-align: center;
  }
  .footer-one,
  .footer-two,
  .footer-three,
  .footer-four,
  .footer-five {
    width: 300px;
  }
  h3 {
    margin: 0 0 15px 0;
  }
  .span-block {
    display: block;
  }
  .span-bold {
    font-weight: 900;
  }
}

.quote {
  font-weight: 900;
  color: rgb(74, 25, 25);
  font-size: 20px;
  padding: 50px 0;
  background: rgb(156, 156, 156);
  text-align: center;
}
//ANIMATION
@keyframes showUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100);
  }
}

//RESPONSIVE
@media (max-width:1800px){
  .orbitalPlus-image-one {
    display: none;
  }
}


@media (max-width: 1200px) {
  header {
    nav {
      padding: 0 10px;
    }
  }

  .about-sepahan-battery {
    p {
      text-align: justify;
      padding: 0 230px;
    }
  }
  footer {
    .footer-one,
    .footer-two,
    .footer-three,
    .footer-four,
    .footer-five {
      text-align: center;
    }
  }

  .orbitalPlus-arrow-down{
    margin: 10px 100px;
  }
}

@media (max-width: 992px) {
  header {
    nav {
      .menu {
        a {
          font-size: 14px;
        }
      }
    }
  }
  .about-sepahan-battery {
    text-align: right;
    h2 {
      text-align: center;
    }
    div {
      text-align: center;
      img {
        width: 50px;
      }
    }
    p {
      text-align: justify;
      padding: 0 150px;
    }
  }

  .img_horizontal {
    display: none;
  }
  .img_vertical {
    margin: 0 auto;
    width: fit-content;
    display: block !important;
  }

  .sepahan-battery-brands {
    .brands {
      flex-direction: column;
    }
    .vl {
      height: 0;
      border-bottom: 1px black solid;
      margin: 50px 0;
      width: 300px;
    }
  }

  footer {
    flex-direction: column;
    align-items: center;
    .footer-one,
    .footer-two,
    .footer-three,
    .footer-four,
    .footer-five {
      text-align: center;
      margin: 25px 0;
    }
  }
}

@media (max-width: 824px) {
  header {
    nav {
      padding: 0 50px;
      ul:nth-child(odd) {
        display: none;
      }
      .hamburger-icon {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .about-sepahan-battery {
    p {
      text-align: justify;
      padding: 0 30px;
    }
  }
  
  .orbitalPlus{
    .orbitalPlus-description{
      display: block;
      margin: 0 25px;
    }
    .orbitalPlus-image-one {
    }
  }
}

@media (max-width: 632px) {
}
@media (max-width: 550px) {
}

@media (max-width: 375px) {
}
