@font-face {
    font-family: IranYekanMedium;
    src: url(../fonts/iranyekanwebmedium.woff);
}

@font-face {
    font-family: IranYekanRegular;
    src: url(../fonts/iranyekanwebregular.woff);
}

@font-face {
    font-family: YekanBakhtMedium;
    src: url(../fonts/YekanBakhMedium.woff);
}

@font-face {
    font-family: YekanBakhtBold;
    src: url(../fonts/YekanBakhBold.woff);

}
@font-face {
    font-family: YekanBakhtHeavy;
    src: url(../fonts/YekanBakhHeavy.woff);
}

@font-face {
    font-family: VazirLight;
    src: url(../fonts/Vazirmatn-RD-Light.woff2);
}
@font-face {
    font-family: VazirSemiBold;
    src: url(../fonts/Vazirmatn-RD-SemiBold.woff2);
}
@font-face {
    font-family: VazirThin;
    src: url(../fonts/Vazirmatn-RD-Thin.woff2);
}
@font-face {
    font-family: VazirRegular;
    src: url(../fonts/Vazirmatn-RD-Regular.woff2);
}
@font-face {
    font-family: VazirMedium;
    src: url(../fonts/Vazirmatn-RD-Medium.woff2);
}