* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
  cursor: pointer;
}

ul {
  list-style: none;
}

html {
  direction: rtl;
  font-size: 16px;
  font-family: VazirMedium;
}

.container {
  margin: 30px auto;
  margin-bottom: 0;
}

header nav {
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
}
header nav .menu {
  display: flex;
  align-items: center;
}
header nav .menu a:hover {
  opacity: 0.5;
  color: blueviolet;
}
header nav .menu li {
  padding: 5px 10px;
}
header nav .menu .menu-item {
  position: relative;
  z-index: 10000 !important;
}
header nav .menu .drop-down-menu {
  margin: 30px 0;
  position: absolute;
  background: white;
  width: max-content;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  padding: 10px 0;
  border-bottom: 2.5px solid #096bfd;
  border-top: 5px solid #fd0909;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
header nav .menu .drop-down-menu li {
  margin: 5px 0;
}
header nav .menu .drop-down-menu-of-menu {
  margin: 0 115px 0 0;
  position: absolute;
  background: white;
  width: max-content;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  padding: 10px 0;
  border-bottom: 2.5px solid #096bfd;
  border-top: 5px solid #fd0909;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
header .hamburger-menu {
  padding: 25px;
  width: 100%;
  background: white;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 100;
  transform: translateY(-100%);
}
header .cross-icon {
  width: 100%;
  text-align: left;
  padding: 20px 0;
}

.show-hamburger-menu {
  animation: fadeInDown 0.25s forwards;
}

.hide-hamburger-menu {
  animation: fadeOut 0.25s forwards;
}

.product-menu,
.product-menu-of-menu,
.sepahan-plus-magazine-menu,
.about-us-menu,
.contact-us-menu,
.technology-menu,
.hamburger-icon {
  display: none;
}

.about-sepahan-battery {
  text-align: center;
  margin: 100px auto;
}
.about-sepahan-battery h2 {
  margin: 0 0 20px 0;
}
.about-sepahan-battery img {
  margin: 0 0 20px 0;
}
.about-sepahan-battery p {
  text-align: justify;
  padding: 0 300px;
}

.chart-image {
  text-align: center;
  margin: 100px auto;
}
.chart-image .img_vertical {
  display: none;
}

.sepahan-battery-brands {
  text-align: center;
  margin: 100px auto;
}
.sepahan-battery-brands .brands {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sepahan-battery-brands .brands div {
  padding: 0 20px;
}
.sepahan-battery-brands .vl {
  border-left: 1px solid black;
  height: 250px;
  margin: 0 100px;
}
.sepahan-battery-brands img {
  width: 130px;
  padding: 10px;
  cursor: pointer;
}
.sepahan-battery-brands img:hover {
  opacity: 0.5;
}

footer {
  display: flex;
  justify-content: space-between;
  background: rgb(170, 170, 170);
  padding: 50px 0;
  box-shadow: 0 0 14px 0px inset rgba(0, 0, 0, 0.2);
}
footer i {
  font-size: 35px;
}
footer .about-us-bottom {
  display: flex;
  justify-content: center;
  padding: 20px;
}
footer .about-us-bottom i {
  color: #d1575f;
}
footer .about-us-bottom :hover {
  opacity: 0.5;
}
footer .about-us-bottom div {
  margin: 0 2px;
}
footer .about-us-top {
  text-align: center;
}
footer .footer-one,
footer .footer-two,
footer .footer-three,
footer .footer-four,
footer .footer-five {
  width: 300px;
}
footer h3 {
  margin: 0 0 15px 0;
}
footer .span-block {
  display: block;
}
footer .span-bold {
  font-weight: 900;
}

.quote {
  font-weight: 900;
  color: rgb(74, 25, 25);
  font-size: 20px;
  padding: 50px 0;
  background: rgb(156, 156, 156);
  text-align: center;
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100);
  }
}
@media (max-width: 1200px) {
  header nav {
    padding: 0 10px;
  }
  .about-sepahan-battery p {
    text-align: justify;
    padding: 0 230px;
  }
  footer .footer-one,
  footer .footer-two,
  footer .footer-three,
  footer .footer-four,
  footer .footer-five {
    text-align: center;
  }
}
@media (max-width: 992px) {
  header nav .menu a {
    font-size: 14px;
  }
  .about-sepahan-battery {
    text-align: right;
  }
  .about-sepahan-battery h2 {
    text-align: center;
  }
  .about-sepahan-battery div {
    text-align: center;
  }
  .about-sepahan-battery div img {
    width: 50px;
  }
  .about-sepahan-battery p {
    text-align: justify;
    padding: 0 150px;
  }
  .img_horizontal {
    display: none;
  }
  .img_vertical {
    margin: 0 auto;
    width: fit-content;
    display: block !important;
  }
  .sepahan-battery-brands .brands {
    flex-direction: column;
  }
  .sepahan-battery-brands .vl {
    height: 0;
    border-bottom: 1px black solid;
    margin: 50px 0;
    width: 300px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-one,
  footer .footer-two,
  footer .footer-three,
  footer .footer-four,
  footer .footer-five {
    text-align: center;
    margin: 25px 0;
  }
}
@media (max-width: 824px) {
  header nav {
    padding: 0 50px;
  }
  header nav ul:nth-child(odd) {
    display: none;
  }
  header nav .hamburger-icon {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .about-sepahan-battery p {
    text-align: justify;
    padding: 0 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
